/* aligins attribute to center */
h1 {
    text-align: center;
}

/* specifies the max width for form,margin,padding */

#body-color {
    background-color: aqua;
    height: 90%;
}

/* class css,specifies border */
.border {
    border: thin black solid;
    margin: 20px;
    padding: 20px;
}

/* specifies margin and padding*/
div {

    margin: 5pt;
    padding: 1pt;
}

#navi-color {
    background-color: rgb(0, 183, 255);
    display: block;
    margin: 0;
    padding: 0;

}

#navi-color-body {
    background-color: rgb(0, 183, 255);
    display: block;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow-y: scroll;



}

