<html>

<head>
    <title>
        forgotPassword...
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body ng-contoller="forgotPasswordCtrl">
    <div class="container">
        <div class="row">

            <div class="from-group">
                <h5 class="title" id="title">Enter registered Email</h5>
                <input type="email" name="email" class="form-control" ng-model="email"
                    placeholder=" Email abc@gmail.com " style="width:300px" required>

                <p> {{result}}</p>
                <button ng-click="forgotPassword()" class="btn btn-primary"> Verify</button>
            </div>
        </div>
    </div>
</body>

</html>